$font-stack:    Calibri, sans-serif;

$color-text: #FFFFFF;

$color-primary-0: #FFD700;	// Main Primary color */
$color-primary-1: #FFE764;
$color-primary-2: #FFE039;
$color-primary-3: #C6A700;
$color-primary-4: #9B8300;

$color-secondary-1-0: #DF004F;	// Main Secondary color (1) */
$color-secondary-1-1: #E85A8C;
$color-secondary-1-2: #E23370;
$color-secondary-1-3: #AD003D;
$color-secondary-1-4: #880030;

$color-secondary-2-0: #530FAD;	// Main Secondary color (2) */
$color-secondary-2-1: #8456C2;
$color-secondary-2-2: #6A34B2;
$color-secondary-2-3: #400B86;
$color-secondary-2-4: #310769;

$color-complement-0: #00B060;	// Main Complement color */
$color-complement-1: #4DC48E;
$color-complement-2: #29B575;
$color-complement-3: #00894B;
$color-complement-4: #006B3B;

body {
  font: 100% $font-stack;
  background-color: $color-primary-0;
  color: $color-text;
}

#footerStatus {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-style: solid;
    font-size: 15px;
    background-color: $color-primary-1;
    color: #000000;
    border-color: #000000;
}

#leftMenu {
  float: left;
  width: 15%;
  height: 100%;
  background-color: $color-secondary-1-0;
}

#game {
    width: 100%;
    height: 100%;
    background-color: $color-secondary-2-0;
}

.success {
  color: darkgreen;
}

.error {
  color: red;
}

.footerStatusRow {
  padding: 5px 5px 5px 30px;
}

.footerStatusRowRight {
  padding: 2px 10px 5px 0px;
  float: right;
}
