$font-stack:    Calibri, sans-serif;

$color-text: #FFFFFF;

$color-primary-0: #958B21;	// Main Primary color */
$color-primary-1: #D9D28B;
$color-primary-2: #BDB454;
$color-primary-3: #575109;
$color-primary-4: #2D2900;

$color-secondary-1-0: #8E202D;	// Main Secondary color (1) */
$color-secondary-1-1: #D0858E;
$color-secondary-1-2: #B5505C;
$color-secondary-1-3: #540912;
$color-secondary-1-4: #2B0005;

$color-secondary-2-0: #145B56;	// Main Secondary color (2) */
$color-secondary-2-1: #558582;
$color-secondary-2-2: #33746F;
$color-secondary-2-3: #063632;
$color-secondary-2-4: #001C1A;

$color-complement-0: #1c0d2e;	// Main Complement color */
$color-complement-1: #564567;
$color-complement-2: #3a2750;
$color-complement-3: #090310;
$color-complement-4: #06010c;

$border-color: #d9cdc1;

$appWidth: 70%;

@mixin gradientTopDown($colorFrom, $colorTo) {
  background: $colorFrom;
  background: -moz-linear-gradient(top, $colorFrom 0%, $colorTo 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $colorFrom), color-stop(100%, $colorTo));
  background: -webkit-linear-gradient(top, $colorFrom 0%, $colorTo 100%);
  background: -o-linear-gradient(top, $colorFrom 0%, $colorTo 100%);
  background: -ms-linear-gradient(top, $colorFrom 0%, $colorTo 100%);
  background: linear-gradient(to bottom, $colorFrom 0%, $colorTo 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = $colorFrom, endColorstr = $colorTo, GradientType=0 );
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body {
  font: 100% $font-stack;
  background-color: $color-complement-4;
  color: $color-primary-2;
}

.allWidthBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:100%
}

#footerStatus {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-style: solid;
    font-size: 15px;
    background-color: $color-primary-1;
    color: #000000;
    border-color: $color-secondary-2-0;
    @include rounded;
}

#upperMenu {
  width: $appWidth;
  height: 10%;
  border-style: solid;
  border-bottom: 0px;
  border-color: $border-color;
  box-shadow: 0px 0px 200px 10px $color-primary-0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include gradientTopDown($color-complement-1, $color-complement-2);

}

#game {
    width: $appWidth;
    height: 90%;
    background-color: $color-complement-2;
    border-style: solid;
    border-color: $border-color;

}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.upperMenuItem {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;

}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.icon {
  color: lighten($color-primary-2, 20);
  @extend .hvr-grow;

}



.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.icon:hover {
}

.success {
  color: darkgreen;
}

.error {
  color: red;
}

.footerStatusRow {
  padding: 5px 5px 5px 30px;
}

.footerStatusRowRight {
  padding: 2px 30px 5px 0px;
  float: right;
}
